{
  "customSyntax": "postcss-scss",
  "extends": ["stylelint-config-standard", "stylelint-config-prettier"],
  "plugins": ["stylelint-scss"],
  "rules": {
    "selector-class-pattern": null,
    "selector-pseudo-class-no-unknown": null,
    "at-rule-no-unknown": null
  },
  "syntax": "scss"
}
