@import "../../styles/module-utils";

.navBar {
    position: sticky;
    margin-bottom: -3.5rem;
    :global(.dropdown-menu) {
        border: none;
    }
    @include media-breakpoint-down(lg) {
        :global(.dropdown-toggle::after) {
            display: none
        }
    }
}